:root {
	--headerColor: #5b6eba;
	--textColor: #eee;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--headerColor);
	color: var(--textColor);
}

.results {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-inline-start: 70px;
	margin-top: 30px;
	margin-bottom: 30px;
	gap: 15px;
}

.search {
	text-align: center;
	padding: 15px;
}

.input {
	font-size: 20px;
	padding: 10px;
	margin-top: 15px;
	border: 3px solid rgb(211, 220, 236);
	text-align: center;
	margin: auto;
	width: 80%;
	border-radius: 10px;
    background: #f8f8ff;
}

.button {
	background-color: var(--headerColor);
	border: none;
	border-radius: 5px;
	color: var(--textColor);
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 1px;
	cursor: pointer;
}